# Core
python-dotenv
pydantic
loguru

# PDF processing
pymupdf
pdfplumber
pytesseract
pillow

# ML
scikit-learn
xgboost
shap
pandas
numpy

# API
fastapi
uvicorn[standard]
python-multipart
httpx

# UI
streamlit==1.33.0

# Utilities
requests
biopython
tqdm
mlflow
altair==4.2.2
